html {
     box-sizing: border-box;
     font-size: 66.6%;
}

*,
*:before,
*:after {
     box-sizing: inherit;
}

img {
    max-width:100%;
}

h2 {
     font-size: 2em;
}
/*Header*/

.jumbotron {
     background-image: url(../img/banner.jpg);
     height: 100vh;
     background-size: cover;
     background-position: top center;
     text-align: center;
}


.redes-sociales {
     text-align: center;
     padding-top: 5rem;
     padding-bottom: 20rem;
 }
 
 .redes-sociales a {
     color: #ffffff;
     font-size: 2em;
     margin-right: 20px;
 }

 .texto {
      color: #ffffff;
      text-transform: uppercase;
 }


 .texto h1  {
     font-size: 5rem;
    
}


.texto h1 span {
     font-size: 5rem;
     color: black;
}

/*Contenido principal*/

.container h2 {
     text-align: center;
     margin-bottom: 2rem;
}





@media (min-width: 768px){
     .blogs {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 2rem;
         justify-content: center;
     }
     
}


.site-footer{
     padding: 3rem;
     margin-top: 4rem;
}
